    .Header {
        background-color: whitesmoke;
        height: 50px;
    }
    .pagetitle {
        font-size: larger;
        padding-top: 5px;
        padding-bottom: 10px;
        color: black;
    }
    .loginContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .buttonContainer {
        background-color: white;
    }
    .styledButton {
        border-radius: 8px; /* Rounded corners */
        padding: 10px 20px; /* Button size */
        font-size: 20px;
        font-weight: bold;
        border: none;
        transition: background-color 0.3s ease;
    }
    .pageContainer {
        display: flex;
        height: 100vh;
    }
    .imageContainer, .loginSection {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .imageContainer {
        background-color: #f0f0f0; /* Optional: Add a background color */
    }
    .loginSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .loginContainer, .registerContainer {
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        align-items: flex-start; /* Align items to the start (left) */;
    }
    .loginContainer > *, .registerContainer > * {
        margin-bottom: 5px; /* Add some spacing between elements */
    }
    .logo {
        margin-bottom: 20px; /* Add some space below the logo */
    }
    .requiredLabel {
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 0px;
    }
    
    .registerContainer .sapMLabel, .registerContainer .sapMInput {
        margin-bottom: 1px; /* Reduce spacing between labels and input fields */
    }
    
    .fullWidth {
        width: 300px !important;
        height: 16px !important;
        box-sizing: border-box;
        padding-top: 0px;
        padding-bottom: 10px;
    }
    .rememberForgotContainer {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .forgotPasswordLink {
        color: blue;
        cursor: pointer;
    }
    .centeredButton {
        align-self: center;
        margin-top: 10px;
    }
    .formRow {
        margin-bottom: 0.5rem;
        align-items: center;
    }
    
    .formLabel {
        width: 150px;
        text-align: right;
        margin-right: 1rem;
        height: 2.75rem; /* Match input height */
        display: flex;
        align-items: center;
        color: black;
    }
    
    .formInput {
        width: 250px;
        text-align: right;
    }
        
